{
  "cyberark": {
    "prod": {
      "host":        "cyberark.example.com",
      "app_id":      "BrokerApp",
      "auth_safe":   "Broker-Safe",
      "auth_object": "BrokerSvc"
    }
  },
  "vault": {
    "prod": {
      "addr":  "http://vault.example.com:8200",
      "token": "s.XXXXXXXXXXXXXXXXXXXX"
    }
  },
  "aws": {
    "prod": {
      "region": "eu-west-1"
    }
  },
  "conjur": {
    "prod": {
      "host":    "conjur.example.com",
      "account": "myorg",
      "login":   "host/secrets-broker",
      "api_key": "XXXXXXXXXXXXXXXXXXXX"
    }
  }
}
